
<a
href=https://todo-app-back-end-mbolden3.c9users.io/todo/show/>Show Page</a>
<h1>Hi People</h1>
<h1>To do</h1>
    <h5>Welch</h5>
    <h3>Hello</h3>
     <ul>
     <li>
             <input type="checkbox" name="">
             <a href="show.html">watch tv</a>
             <span class="pomodoro-estimate">4 pomodoros </span>
     </li>
      <li>
           <input type="checkbox" name=""/>
            <a href="show.html">meat</a>
            <span class="pomodoro-estimate">2 pomodoros </span>
      </li>
       <li>
           <input type="checkbox" name=""/>
            <a href="show.html">turkey</a>
            <span class="pomodoro-estimate"><%= 3+1 %></span>
       </li>
       <li>
           
           <input type="checkbox" name=""/>
            <a href="show.html">roast beef</a>
            <span class="pomodoro-estimate">2 pomodoros </span>
       </li>
     </ul>
     <div>
         <input type="text" placeholder="Add a new todo"/>
         <input type="number" placeholder ="Pomodoro estimate..."/>
         <input id="add-new-todo-button" type="submit" value="Add todo"/>
         
     </div>
     <h1 style="background-color:DodgerBlue;">Cloud 9</h1>